.button-container {
  width: 36px; // assumes there is an icon
  display: flex;
  flex-direction: column;

  &.bottom button {
    margin-bottom: 28px;
  }

  button {
    display: flex;
    align-items: center;
    text-align: center;
    border: none;
    background-color: transparent;

    &:hover {
      margin-bottom: 0px;
      background-color: #f0f1f2;
      border-radius: 5px;
      cursor: pointer;

      + .button-hover-text.bottom {
        display: block;
        width: 200px;
        text-align: start;
        position: relative;
      }

      + .button-hover-text.right {
        display: block;
        position: absolute;
        margin-left: 46px
      }
    }
  }
}

.button-hover-text {
  padding-top: 10px;
  display: none;
}
