.tile {
	border: solid;
	border-color: #4e4e4e;
	border-radius: 30px;
	padding: 10px;
	margin: 10px;
	background: #f0f1f2;
	max-width: 30%;
	min-width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-height: 144px;
	min-height: 144px;

	.definition {
		overflow: scroll;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 5px 0;
		max-height: 70px;
	}

	&:hover {
		background: #a9bacb
	}

	.name {
		font-size: 30px;
		background: lightgrey;
		border-radius: 15px;
		width: 100%;
	}

	.partOfSpeech {
		font-style: italic;
	}

	.buttons-container {
		width: 100%;
		display: flex;
		justify-content: flex-end;

		.tile-button {
			padding-right: 5px;

			&:last-of-type {
				padding-right: 10px;
			}
		}
	}
}

.deletedTile {
	border: solid;
	border-color: red;
	border-radius: 30px;
	padding: 10px;
	margin: 10px;
	background: red;
}