.home-container {
	// display: flex;
	// flex-direction: column;
	// justify-content: center;

	.home-buttons-container {
		display: flex;
		justify-content: center;
	}

	.words-container {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
	}
}